@import "../../styles/colors.module.css";

.general-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main-container {
    flex: 1;
    width: 90%;
    margin:0 auto;
}

 